
# node_modules 

cm-client/node_modules

# testing 
cm-client/coverage

# production
cm-client/build

cm-client/.DS_Store
cm-client/.env
cm-client/npm-debug.log*
cm-client/yarn-debug.log*
cm-client/yarn-error.log*


# target 
cm-server/target/

# STS
cm-server/.apt_generated
cm-server/.classpath
cm-server/.factorypath
cm-server/.project
cm-server/.settings
cm-server/.springBeans

#Idea
**/.idea/*
*.iws
*.iml
*.ipr

# NetBeans #
cm-server/nbproject/private/
cm-server/build/
cm-server/nbbuild/
cm-server/dist/
cm-server/nbdist/
cm-server/.nb-gradle/
