@import 'theme.less';
@color_1: #262f84;
@color_2: #bd362f;
/* AddCandidate component styling*/
.float-right {
	float: right;
}
#btn-home {
	min-width: 100px;
}
.success-message {
	color: @color_1;
}
.error-message {
	color: @color_2;
}