/**
Color passed down to other less components so that they will be consistent
using the same property wherever they are used.
 */
@main-color-theme: #841439;
@main-color-shadow: #420d15;
@main-color-hover: #701829;
@main-color-button-active: #952f38;